body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: linear-gradient(
    to bottom,
    #98000046,
    rgba(27, 0, 0, 0.5)
  ), url("../src/assets/background/denim.png");
  background-repeat: repeat;
}

#page-container {
  width: 100%; /* Ensure that page container is full width */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch; /* This will stretch child elements to fill the container */
}

#root {
  flex: 1; /* This will allow the #root to expand */
  display: flex;
  flex-direction: row; /* Changed from row to column for vertical layout */
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; /* Set width to 100% to ensure it takes up all horizontal space */
  margin-bottom: 2px;
}

#decorations {
  position: relative;
  z-index: 1;
  margin-top: 1px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: flex-start; 
}


#text img {

  max-width: 100%;
}
